.not-found {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-3);
    align-items: center;
}

#image-500 {
    justify-self: stretch;
    align-self: stretch;
    background-image: url('static/images/Polaroid_TW.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 1024px) {
    .not-found {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .not-found {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
}

.not-found h1 {
    font-size: 5em;
    margin-bottom: 0;
}

.not-found p.not-found-error {
    font-size: 1em;
    margin-bottom: 30px;
}

.not-found p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.not-found a {
    color: #00bfff;
    text-decoration: none;
    font-size: 1.2em;
}

.not-found a:hover {
    text-decoration: underline;
}