#about-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-3);
    align-items: center;
    justify-items: stretch;
    min-height: calc(100vh - 19rem);
}

#filippo-image {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #about-page {
        grid-template-columns: 1fr;
    }
}