.template-admin form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
}

.long-text {
    max-width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.template-admin .form-inline {
    display: inline;
}

.template-admin  #upload-button-container {
    display: flex;
    margin-bottom: 10px;
}

#admin-photo-list tbody tr.require-edit {
    background-color: var(--color-warning-bg);
    border-color: var(--color-warning);
}

#admin-photo-list tbody tr.require-edit td {
    color: var(--color-warning);
}

#admin-photo-list tbody tr.require-edit td {
    border-bottom: 2px solid var(--color-warning);
    border-top: 2px solid var(--color-warning);
}

#admin-photo-list tbody tr.require-edit > td:first-child {
    border-left: 2px solid var(--color-warning);
}

#admin-photo-list tbody tr.require-edit > td:last-of-type {
    border-right: 2px solid var(--color-warning);
}