/* -- Button Outlined -- */
.btn-outlined {
    padding: 0.8rem 4rem 0.8rem 2rem;
    color: var(--color-text);

    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5em;

    display: block;
    width: fit-content;

    border: 2px solid var(--color-text);

    position: relative;

    box-shadow: 6px 6px 0px -1px rgba(3, 3, 3,1), 6px 6px 0px 1px rgba(255, 255, 255,1);
    -webkit-box-shadow: 6px 6px 0px -1px rgba(3, 3, 3,1), 6px 6px 0px 1px rgba(255, 255, 255,1);
    -moz-box-shadow: 6px 6px 0px -1px rgba(3, 3, 3,1), 6px 6px 0px 1px rgba(255, 255, 255,1);

    transition: border 0.4s ease-in-out, color 0.4s ease-in-out, box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
}

.btn-outlined:hover, .btn-outlined:focus {
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    box-shadow: 6px 6px 0px -1px rgba(35, 181, 211,1), 6px 6px 0px 1px rgba(35, 181, 211,1);
    -webkit-box-shadow: 6px 6px 0px -1px rgba(35, 181, 211,1), 6px 6px 0px 1px rgba(35, 181, 211,1);
    -moz-box-shadow: 6px 6px 0px -1px rgba(35, 181, 211,1), 6px 6px 0px 1px rgba(35, 181, 211,1);

    /* Alternativa */
    /*
    box-shadow: 10px 10px 0px -1px rgba(35, 181, 211,1), 10px 10px 0px 1px rgba(35, 181, 211,1);
    -webkit-box-shadow: 10px 10px 0px -1px rgba(35, 181, 211,1), 10px 10px 0px 1px rgba(35, 181, 211,1);
    -moz-box-shadow: 10px 10px 0px -1px rgba(35, 181, 211,1), 10px 10px 0px 1px rgba(35, 181, 211,1);
    */
}

.btn-outlined svg {
    width: 1.5rem;
    height: auto;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: var(--spacing-2);

    transition: transform 0.4s ease-in-out;
}

.btn-outlined:hover svg, .btn-outlined:focus svg {
    transform: translate(10px, -50%);
}

.btn-outlined svg path {
    fill: var(--color-text);
    transition: fill 0.3s ease-in-out;
}

.btn-outlined:hover svg path, .btn-outlined:focus svg path {
    fill: var(--color-accent);
}

.btn-outlined.btn-danger:hover, .btn-outlined.btn-danger:focus  {
    color: var(--color-accent-hover);
    border: 2px solid var(--color-accent-hover);
    box-shadow: 6px 6px 0px -1px rgba(247, 142, 105,1), 6px 6px 0px 1px rgba(247, 142, 105,1);
    -webkit-box-shadow: 6px 6px 0px -1px rgba(247, 142, 105,1), 6px 6px 0px 1px rgba(247, 142, 105,1);
    -moz-box-shadow: 6px 6px 0px -1px rgba(247, 142, 105,1), 6px 6px 0px 1px rgba(247, 142, 105,1);

    /* Alternativa */
    /*
    box-shadow: 10px 10px 0px -1px rgba(35, 181, 211,1), 10px 10px 0px 1px rgba(35, 181, 211,1);
    -webkit-box-shadow: 10px 10px 0px -1px rgba(35, 181, 211,1), 10px 10px 0px 1px rgba(35, 181, 211,1);
    -moz-box-shadow: 10px 10px 0px -1px rgba(35, 181, 211,1), 10px 10px 0px 1px rgba(35, 181, 211,1);
    */
}

.btn-outlined.btn-danger:hover svg path, .btn-outlined.btn-danger:focus svg path {
    fill: var(--color-accent-hover);
}

/* -- Link With Icon -- */
/* General */
.icon-button {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5em;
    background-color: transparent;
    border: none;

    cursor: pointer;

    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.icon-button svg {
    width: 1em;
    height: auto;
}

/* Primary */
.icon-button.icon-button-primary {
    color: var(--color-blue);
    position: relative;
}

.icon-button.icon-button-primary::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -3px;
    border-radius: 5px;
    height: 2px;
    background-color: var(--color-blue);
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}

.icon-button.icon-button-primary:hover::after, .icon-button.icon-button-primary:focus::after {
    left: 0;
    right: 0;
}

.icon-button.icon-button-primary path {
    fill: var(--color-blue);
    transition: fill 0.4s ease-in-out;
}

/* Danger */
.icon-button.icon-button-danger {
    color: var(--color-orange);
    position: relative;
}

.icon-button.icon-button-danger::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -3px;
    border-radius: 5px;
    height: 2px;
    background-color: var(--color-orange);
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}

.icon-button.icon-button-danger:hover::after, .icon-button.icon-button-danger:focus::after {
    left: 0;
    right: 0;
}

.icon-button.icon-button-danger path {
    fill: var(--color-orange);
    transition: fill 0.4s ease-in-out;
}