.gallery {
    column-count: 3;
    column-gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.gallery-item {
    position: relative;
    break-inside: avoid;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    cursor: pointer;
    aspect-ratio: 3/2;
}

.gallery-item img.loaded{
    aspect-ratio: auto;
}

.gallery-item img.error {
    background-color: #fff;
    background-image: url("../../static/images/placeholder.jpg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
}

.info span {
    margin: 2px 0;
}

.modal img {
    max-width: 90%;
    max-height: 70%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.modal-description {
    font-size: 18px;
    padding: 10px;
}

@media (max-width: 1024px) {
    .gallery {
        column-count: 2;
        column-gap: 15px;
    }
}

@media (max-width: 768px) {
    .gallery {
        column-count: 1;
        column-gap: 10px;
        padding: 10px;
    }

    .gallery-item {
        margin-bottom: 15px;
    }

    .info {
        font-size: 12px;
        padding: 8px;
    }

    .modal-description {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .info {
        font-size: 10px;
        padding: 6px;
    }

    .gallery {
        padding: 5px;
    }

    .modal-description {
        font-size: 14px;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
}
.loader .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Stile per la navigazione delle categorie */
.categories-navigation {
    margin-bottom: 20px;
    text-align: center;
}

.categories-navigation ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.categories-navigation li {
    display: inline;
    margin: 0 10px;
}

.categories-navigation a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.categories-navigation a:hover {
    text-decoration: underline;
}

/* Stile per le categorie */
.gallery-category {
    margin-bottom: 40px;
    padding-top: 10px;
}

.gallery-category h2 {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}
