* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -- Variables -- */

:root {
    /* Basic Color */
    --color-black: #030303;
    --color-white: #FEFEFE;
    --color-blue: #23B5D3;
    --color-orange: #F78E69;

    /* Basic Spacing */
    --spacing-1: 0.5rem;
    --spacing-2: 1.25rem;
    --spacing-3: 1.5rem;
    --spacing-4: 2rem;
    --spacing-5: 3.25rem;

    /* Content Width */
    --max-content-width: 75rem; /* 1200px */
    --max-modal-width: 25rem;   /* 400px */

    /* Screen Sizes */
    --media-smartphone-portrait: 320px;
    --media-smartphone-landscape: 480px;
    --media-tablet-s: 600px;
    --media-tablet-l: 768px;
    --media-tablet-xl: 1024px;
    --media-desktop: 1200px;

    /* Basic Use Cases */
    --color-bg: var(--color-black);
    --color-text: var(--color-white);
    --color-accent: var(--color-blue);
    --color-accent-hover: var(--color-orange);
    --color-input-bg: var(--color-black);
    --color-input-border: var(--color-white);
    --color-input-text: var(--color-white);
    --color-button-bg: var(--color-black);
    --color-button-text: var(--color-white);
    --color-button-hover-bg: var(--color-blue);

    --color-link-visited: var(--color-orange);
}

/* -- Font Faces -- */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./static/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./static/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./static/fonts/Roboto-Bold.ttf') format('truetype');
}

/* -- Typography -- */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, .h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.625em;
    font-weight: 700;
    line-height: 4.375rem;
}

h2, .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.062em;
    font-weight: 600;
    line-height: 3.5rem;
}

h3, .h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.625em;
    font-weight: 600;
    line-height: 2.875rem;
}

h4, .h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 2.375rem;
}

h5, .h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 2rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 2rem;
}

caption, figcaption, .caption {
    font-family: 'Roboto', sans-serif;
    font-size: 0.812em;
    font-weight: 400;
    line-height: 1.625rem;
    font-variant: all-small-caps;
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
}

a.link {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: color 0.3s ease;
    position: relative;
    color: var(--color-text);
}

a.link:visited {
    color: var(--color-link-visited);
}

a.link::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -3px;
    border-radius: 5px;
    height: 2px;
    background-color: var(--color-accent);
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}

a.link:hover::after {
    left: 0;
    right: 0;
}

a.link:hover {
    color: var(--color-accent);
    transition: color 0.4s ease;
}

strong {
    font-weight: 500;
}

.caption + h1,
.caption + h2,
.caption + h3,
.caption + h4 {
    margin-top: calc(-1 * var(--spacing-1));
}

h1:has(+ p),
h2:has(+ p),
h3:has(+ p),
h4:has(+ p),
header:has(+ p),
header:has(+ div > p){
    margin-bottom: var(--spacing-2);
}

p:has(+ p) {
    margin-bottom: var(--spacing-1);
}

/* Disable text selection */
body, p, h1, h2, h3, h4, h5, h6 {
    user-select: none;
    color: var(--color-text);
}

.text-center {
    text-align: center;
}

/* Logo Animation */
.fullscreen-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 1;
    animation: fadeOut 0.5s ease-out 0.5s forwards;
}

.fullscreen-logo .logo-image {
    width: 50%;
    height: 50%;
    max-width: 60%;
    animation: scaleUp 0.5s ease-out;
    transition: max-width 0.4s ease-in-out;
    background: url("./static/images/logo.png") no-repeat center center / contain;
}

@media (max-width: 1024px) {
    .fullscreen-logo .logo-image {
        height: 60%;
        width: 60%;
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .fullscreen-logo .logo-image {
        height: 80%;
        width: 80%;
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .fullscreen-logo .logo-image {
        height: 90%;
        width: 90%;
        max-width: 100%;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    80% {
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* -- Basic Components -- */

.container {
    position: relative;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 0 var(--spacing-4);
}

@media screen and (max-width: 480px)
{
    .container {
        padding: 0 var(--spacing-3);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 4rem);
    overflow: hidden;
    justify-content: space-between;
    background-color: var(--color-bg);
}

/*!* Contenuto principale *!*/
/*.content {*/
/*    position: relative;*/
/*    flex: 1;*/
/*    overflow-y: auto; !* Permette lo scroll solo quando necessario *!*/
/*}*/

/* -- Loader -- */
.content-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.content-loader.auto-hide {
    animation: autoHide 0.5s ease 0.5s forwards;
}

.content-loader .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top-color: var(--color-text);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes autoHide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* -- Toast Container -- */
#toast-container {
    position: fixed;
    bottom: var(--spacing-4);
    right: var(--spacing-4);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

/* Toast Message */
.toast {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    min-width: 15.5rem;
    padding: var(--spacing-2) var(--spacing-3);
    background-color: var(--color-accent);
    color: var(--color-text);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(3, 3, 3, 0.2);
    /*font-size: 1rem;
    font-weight: bold;*/
    animation: toastFadeOut 6s forwards;
}

/* Toast Icon */
.toast .icon {
    font-size: 1.5rem;
}

/* Toast Animation */

@keyframes toastFadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Toast Error */
.toast.error {
    background-color: var(--color-orange) /* Rosso per errore */
}

/* Toast Success */
.toast.success {
    background-color: var(--color-blue) /* Verde per successo */
}


/* -- Table -- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: var(--color-bg);
}

table thead th {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    padding: 10px;
    text-align: left;
    border: 1px solid var(--color-input-border);
}

table tbody td {
    padding: 10px;
    border: 1px solid var(--color-input-border);
    color: var(--color-text);
}

table tbody tr:nth-child(odd) {
    background-color: var(--color-input-bg);
}

@media (max-width: 768px) {
    table {
        display: table; /* Mantiene il comportamento della tabella */
        width: 100%; /* Adatta la larghezza al contenitore */
    }

    table thead {
        display: none; /* Nasconde l'header per un design pulito */
    }

    table tbody tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        border: 1px solid var(--color-input-border);
        border-radius: 8px;
        background-color: var(--color-bg);
    }

    table tbody td {
        display: flex;
        width: 100%; /* Adatta le celle alla larghezza disponibile */
        justify-content: space-between;
        padding: 10px;
        border: none;
        border-bottom: 1px solid var(--color-input-border);
    }

    table tbody td:last-child {
        border-bottom: 0;
    }

    table tbody td::before {
        content: attr(data-label); /* Inserisce l'etichetta */
        font-weight: bold;
        color: var(--color-button-text);
        margin-right: 10px;
        flex-shrink: 0; /* Mantiene la larghezza del contenuto */
        align-self: center;
        justify-self: center;
    }
}

/* -- Modal -- */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    color: var(--color-text);
    text-align: center;
    pointer-events: all;
}

.close-button {
    position: absolute;
    top: var(--spacing-4);
    right: var(--spacing-4);
    background: none;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
    color: var(--color-text);
    transition: color 0.4s ease-in-out;
}

.close-button:hover {
    color: var(--color-blue);
    transition: color 0.4s ease-in-out;
}

.modal-content {
    background: var(--color-bg);
    padding: var(--spacing-3);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(3, 3, 3, 0.5);
    text-align: center;
    color: var(--color-text);
    width: 90%;
    max-width: var(--max-modal-width);
    pointer-events: all;
}

.custom-modal p {
    margin-bottom: var(--spacing-4);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-2);
}

.modal-actions .btn {
    padding: var(--spacing-2) var(--spacing-3);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-actions .btn-danger {
    background-color: var(--color-orange);
    color: var(--color-text);
    transform: scale(1.0);
    transition: transform 0.4s ease-in-out;
}

.modal-actions .btn-danger:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}

.modal-actions .btn-secondary {
    background-color: var(--color-blue);
    color: var(--color-text);
    transform: scale(1.0);
    transition: transform 0.4s ease-in-out;
}

.modal-actions .btn-secondary:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}

.no-interaction {
    pointer-events: none;
    user-select: none;
}

/* -- Scroll Top Button -- */
#scrollTopButton {
    position: fixed;
    bottom: var(--spacing-4);
    right: var(--spacing-4);
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--color-text);
    color: var(--color-text);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(3, 3, 3, 0.1);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, background-color 0.4s ease-in-out;

    z-index: 10;
}

#scrollTopButton:hover {
    background-color: var(--color-accent);
}

#scrollTopButton svg {
    width: 60%;
    transform: translateY(0px);
    transition: transform 0.4s ease-in-out;
}

#scrollTopButton svg path {
    fill: var(--color-bg);
}

#scrollTopButton:hover svg  {
    transform: translateY(-3px);
}

#scrollTopButton.show {
    opacity: 1;
    visibility: visible;
}

body.no-scroll {
    overflow: hidden;
}