/* -- Menu -- */
#menu_mobile ul, #menu_desktop ul {
    list-style-type: none;
    padding: 0;
}

#menu_desktop ul li {
    display: inline;
    margin-left: var(--spacing-4);
}

#menu_mobile {
    display: none;
}

@media (max-width: 768px) {
    #menu_mobile {
        display: block;
    }

    #menu_mobile ul li {
        display: list-item;
        text-align: center;
        height: 3em;
    }

    #menu_mobile ul li a {
        padding: 0.5em;
    }

    #menu_desktop {
        display: none;
    }
}

/* -- Menu Animation -- */
.navbar .menu {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar .menu.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none; /* Prevent clicks when hidden */
}

.navbar .menu:not(.hidden) {
    opacity: 1;
    transform: translateY(0);
}

/* Todo(Luca): Rimuovere animazione o rifare. Non viene visualizzata */
/* -- Hamburger Animation -- */
.navbar .hamburger div {
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.navbar .hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.navbar .hamburger.active div:nth-child(2) {
    opacity: 0;
}

.navbar .hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/* Navbar */

.navbar {
    --temp-logo-url: url("static/images/logo.png");
    --temp-logo-width: 13rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg);
    padding: var(--spacing-1) var(--spacing-4);
    padding-bottom: var(--spacing-2);
    color: var(--color-text);
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
    .navbar {
        --temp-logo-url: url("static/images/logo-slim.png");
        --temp-logo-width: 3.5rem;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-bottom: var(--spacing-1);
    }
}

.navbar .menu {
    display: none;
}

.navbar .menu a {
    margin: 5px 0;
}

.navbar .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: #000000;
    border: none; 
}

.navbar .menu .close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 2em;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navbar .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.navbar .logo-hide {
    height: auto;
    width: var(--temp-logo-width);
    font-size: 5px;
    text-indent: -999em;
    white-space: nowrap;
    overflow: hidden;
    background-image: var(--temp-logo-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}

.logo-hide:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .navbar .links {
        display: none;
    }

    .navbar .hamburger {
        display: flex;
    }

    .navbar .menu {
        display: flex;
        background-color: var(--color-bg);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        box-shadow: none;
        z-index: 1;
    }

    .navbar .menu.hidden {
        display: none;
    }
}

.navigation-help {
    text-indent: -999rem;
    position: absolute;
}

.navigation-help:has(> a:focus) {
    text-indent: 0;
    position: static;
}
