/* -- Service Layout -- */
#service-page {
    margin-bottom: var(--spacing-4);
}

#service-page > article {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: var(--spacing-3);

    align-items: center;
    justify-content: center;
}

#service-page > article:has(+ article) {
    margin-bottom: var(--spacing-5);
}

#service-page > article:nth-child(even) .service-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

@media screen and (max-width: 768px)
{
    #service-page > article {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    #service-page > article:nth-child(even) .service-content {
        grid-row: auto;
    }
}

#service-page .service-image {
    justify-self: stretch;
    aspect-ratio: 1 / 1;
    margin: var(--spacing-2);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#service-events .service-image {
    background-image: url("static/uploads/502A4643_75percent.jpg");
}

#service-other .service-image {
    background-image: url("static/uploads/502A1635_75percent.jpg");
}

#service-page article p:has(+ a) {
    margin-bottom: var(--spacing-4);
}

.btn-outlined {
    padding: 0.8rem 4rem 0.8rem 2rem;
    color: var(--color-text);

    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5em;

    display: block;
    width: fit-content;

    border: 2px solid var(--color-text);

    position: relative;

    box-shadow: 6px 6px 0px -1px rgba(3, 3, 3,1), 6px 6px 0px 1px rgba(255, 255, 255,1);
    -webkit-box-shadow: 6px 6px 0px -1px rgba(3, 3, 3,1), 6px 6px 0px 1px rgba(255, 255, 255,1);
    -moz-box-shadow: 6px 6px 0px -1px rgba(3, 3, 3,1), 6px 6px 0px 1px rgba(255, 255, 255,1);

    transition: border 0.4s ease-in-out, color 0.4s ease-in-out, box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
}

.btn-outlined:hover {
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    box-shadow: 6px 6px 0px -1px rgba(35, 181, 211,1), 6px 6px 0px 1px rgba(35, 181, 211,1);
    -webkit-box-shadow: 6px 6px 0px -1px rgba(35, 181, 211,1), 6px 6px 0px 1px rgba(35, 181, 211,1);
    -moz-box-shadow: 6px 6px 0px -1px rgba(35, 181, 211,1), 6px 6px 0px 1px rgba(35, 181, 211,1);

    /* Alternativa */
    /*
    box-shadow: 10px 10px 0px -1px rgba(35, 181, 211,1), 10px 10px 0px 1px rgba(35, 181, 211,1);
    -webkit-box-shadow: 10px 10px 0px -1px rgba(35, 181, 211,1), 10px 10px 0px 1px rgba(35, 181, 211,1);
    -moz-box-shadow: 10px 10px 0px -1px rgba(35, 181, 211,1), 10px 10px 0px 1px rgba(35, 181, 211,1);
    */
}

.btn-outlined svg {
    width: 1.5rem;
    height: auto;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: var(--spacing-2);

    transition: transform 0.4s ease-in-out;
}

.btn-outlined:hover svg {
    transform: translate(10px, -50%);
}

.btn-outlined svg path {
    fill: var(--color-text);
    transition: fill 0.3s ease-in-out;
}

.btn-outlined:hover svg path {
    fill: var(--color-accent);
}