/* -- Service Layout -- */
#service-page {
    margin-bottom: var(--spacing-4);
}

#service-page > article {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: var(--spacing-3);

    align-items: center;
    justify-content: center;
}

#service-page > article:has(+ article) {
    margin-bottom: var(--spacing-5);
}

#service-page > article:nth-child(even) .service-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

@media screen and (max-width: 768px)
{
    #service-page > article {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    #service-page > article:nth-child(even) .service-content {
        grid-row: auto;
    }
}

#service-page .service-image {
    justify-self: stretch;
    aspect-ratio: 1 / 1;
    margin: var(--spacing-2);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#service-events .service-image {
    background-image: url("static/uploads/502A4643_75percent.jpg"), url("static/uploads/502A4643_50percent.jpg"), url("static/uploads/502A4643_25percent.jpg");
}

#service-other .service-image {
    background-image: url("static/uploads/502A1635_75percent.jpg"), url("static/uploads/502A1635_50percent.jpg"), url("static/uploads/502A1635_25percent.jpg");
}

#service-page article p:has(+ a) {
    margin-bottom: var(--spacing-4);
}