*{
    padding: 0;
    margin: 0;
}

:root{
    --bgcolor: #F7F3F3;
    --txtcolor: #000;
    --breadcolor: #163F77;
    --menutxtcolor: #F7F3F3;
    --menubgcolor: #44633F;
    --linkcolor: #FFE570;
    --visitedcolor: #ff9651;
}

html, body {
    color: var(--txtcolor);
    background-color: var(--bgcolor);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--linkcolor);
    text-decoration: none;
}

a:visited {
    color: var(--visitedcolor);
}

header {
    background-color: var(--menubgcolor);
    color: var(--menutxtcolor);
    width: 100%;
    padding: 0 20% 0 20%;
    float: left;
}

#navigation {
    width: 45%;
    margin: 0.3em;
    float: left;
}

#menu {
    margin: 1vw 0 1vw 0;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline-block;
    padding: 0 1em 0 0;
    font-size: 1.5vw;
}

#menu li a {
    color: var(--menutxtcolor);
}

#breadcrumb {
    margin-bottom: 0.2vw;
    font-size: 1.2vw;
}

#logo {
    width: 15%;
    height: 6vw;
    float: left;
    padding: 1em;
    font-size: 5px;
    text-indent: -999em;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(./styleImages/AnimaliaLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
