RewriteEngine On

# Ignore "static" from redirect
RewriteCond %{REQUEST_URI} ^/static/ [NC]
RewriteRule ^ - [L]

# Redirect all url to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Enable Gzip Compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json application/xml application/xhtml+xml application/rss+xml application/x-font-ttf font/opentype

    SetEnvIfNoCase Request_URI \\.(?:gif|jpe?g|png|mp4|avi|mov|mkv|mp3|ogg|webm)$ no-gzip dont-vary

    Header append Vary Accept-Encoding
</IfModule>