RewriteEngine On

RewriteBase /{USERNAME}/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /{USERNAME}/404.php [L]

# ErrorDocument con path completo
ErrorDocument 404 /{USERNAME}/404.php
ErrorDocument 500 /{USERNAME}/500.php